<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles.css">
    <title>Sentiment Catalysis</title>
</head>

<body>
    <nav>
        <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="correct-audio.html">Correct Audio</a></li>
        </ul>
    </nav>
    <div class="container">

        <div class="left-section">
            <h1>Welcome</h1>
            <p>How are you feeling today?</p>
            <form action="/" method="POST">
                <textarea name="feedback"></textarea>
                <input type="submit" value="Submit">
            </form>

        </div>
        <div class="right-section">
            <div id="img-section">
                <img src="">
            </div>
            <div id="result">
                {% if result %}
                <p>Prediction: {{ result }}</p>
                {% endif %}
            </div>
        </div>
    </div>
    <div id="speechrecog">
        <p>🗣️</p>
        <button id="startBtn" onclick="startRecognition()">Start</button>
        <button id="stopBtn" onclick="stopRecognition()">Stop</button>
        <div id="transcription"></div>
    </div>
    <!-- <form id="text-form">
        <label for="input-text">Incorrect transcription:</label>
        <textarea id="input-text"></textarea>
        <input type="submit" value="Submit">
      </form> -->
    <script src="../static/main.js"></script>
</body>

</html>